html {
  font-family: "Fredoka One", sans-serif;
}

header {
  padding: 5em 2em;
  background-image: repeating-linear-gradient(-45deg, #b3fbff, #b3fbff 10px, #c9fcff 10px, #c9fcff 20px);
  position: relative;
  overflow: hidden;
  border-bottom: 3px solid #d4fdff;
  border-top: 3px solid #d4fdff;
}

.intro {
  transform: rotate(-5deg);
  transform-origin: left center;
}

h1 {
  color: #990073;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .5));
}

h2 {
  color: #c09;
  text-shadow: 1px 1px rgba(0, 0, 0, .5);
  max-width: 19em;
}

.everything {
  animation: text-intro .5s linear forwards;
}

.btn-ghost {
  text-decoration: none;
  color: #c09;
  border: 2px solid #990073;
}

.btn-ghost:hover {
  background-color: #d4fdff;
  color: #c09;
  border: 2px solid #990073;
}

img {
  width: 175px;
  position: absolute;
}

.cone {
  bottom: 10px;

  animation: ice-cream-drop .5s linear forwards;
}

.mint-chip {
  bottom: 500px;

  animation: ice-cream-drop-two .5s .5s linear forwards;
}

.chocolate-chip {
  bottom: 500px;

  animation: ice-cream-drop-three .5s 1s linear forwards;
}

.vanilla-fudge {
  bottom: 500px;
  animation: ice-cream-drop-four .5s 1.5s linear forwards;
}

.cherry {
  bottom: 500px;
  animation: ice-cream-drop-five .5s 2s linear forwards;

}

@keyframes ice-cream-drop {

  0% {
    transform: translate(0, -500px);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes ice-cream-drop-two {

  0% {
    transform: translate(0, -500px);
  }

  100% {
    transform: translateY(380px);
  }
}

@keyframes ice-cream-drop-three {

  0% {
    transform: translate(0, -500px);
  }

  100% {
    transform: translateY(295px);
  }
}

@keyframes ice-cream-drop-four {

  0% {
    transform: translate(0, -500px);
  }

  100% {
    transform: translateY(220px);
  }
}

@keyframes ice-cream-drop-five {

  0% {
    transform: translate(0, -500px);
  }

  100% {
    transform: translateY(160px);
  }
}

@keyframes text-intro {

  0% {
    opacity: 0;
    filter: blur(7px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
}
